body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    height: 100%;
}

.container {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #002145;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #002145;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
input[type="date"],
input[type="submit"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
    display: block;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
input[type="date"]:focus,
input[type="submit"]:focus {
    outline: none;
    border-color: #002145;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button,
input[type="submit"] {
    width: calc(49% - 5px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #002145;
    color: #fff;
}

input[type="submit"] {
    background-color: #003669;
}

button:hover,
input[type="submit"]:hover {
    background-color: #001429;
}
