/* Reset default margin and padding */
html,
body {
    margin: 0;
    padding: 0;
}

/* Set the font family */
body {
    font-family: 'Poppins', sans-serif;
}

/* Center the container horizontally */
.container {
    max-width: 500px;
    margin: 0 auto;
}

/* Style the heading */
h2 {
    text-align: center;
    color: #002145;
    margin-bottom: 30px;
}

/* Style form labels */
label {
    font-weight: bold;
    color: #002145;
}

/* Style form inputs and textarea */
input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Style the submit button */
input[type="submit"],
button[type="button"] {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #003669;
    color: #fff;
    cursor: pointer;
    display: inline-block; /* Add display property to make them inline-block */
}

/* Style the back button */
button[type="button"] {
    background-color: #6c757d;
    margin-left: 4%; /* Adjusted margin for spacing */
}

/* Hover effect for buttons */
input[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #001429;
}

/* Adjust styling for smaller screens */
@media (max-width: 576px) {
    input[type="text"],
    input[type="date"],
    textarea {
        margin-bottom: 10px;
    }
}
